
<article class="friendslist <% if (id=='home'){ %> jumbotron hidden-xs<% } %>">
    <div class="container">
      <div class="row">
          <% friends.forEach(function(item) { %>
          <div class="<% if(id == 'home'){%> col-sm-4 text-center <%} else{%>col-sm-4 <%}%>">
            <h3 class="friendslist-title"><%= item.title %></h3>
            <h5 class="friendslist-name"> <a href="/friends/<%= item.shortname %>"><%= item.name %></a></h5>
            <p class="friendslist-info"><a href="/friends/<%= item.shortname %>">
              
              <% if(id=='friendDetail'){%>
                <img class="friendslist-img ss img-responsive pull-right" src="/images/friends/<%= item.shortname %>.jpeg"
                alt="Photo of <%= item.name %>"></a>
              <%}else{%>
                <img class="friendslist-img ss img-circle pull-left" src="/images/friends/<%= item.shortname %>.jpeg"
                alt="Photo of <%= item.name %>"></a>
              <%} %>

              
              
              <% if(id== 'home'){%>

              <%}else{%>
                <p> <%= item.summary %></p>

              <%} %>

            </a></p>
          </div>
          <%  }); %>
      </div><!-- row -->
    </div><!-- container -->
  </article>
  